<form editable-form name="editableForm" onbeforesave="checkUpdateSuccess()" onaftersave="ok()" oncancel="cancelForm()" shown=true>
 <div class="modal-header ">
            <h3 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>  {{networkToEdit.network_name}} Metadata</h3>
</div><!-- modal-header -->
   
<div class="modal-body">

<div class="row">
<div class="col-md-4">
			<img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="180" height="145" ng-hide="primary_thumbnail_id"  ng-show="selectedFiles == null" >
			<img ng-src="/mobi-content-provider-console/rest/admin/v5/content/thumbnail?thumbnail_id={{primary_thumbnail_id}}" ng-hide="!primary_thumbnail_id" width="180" height="145" />
</div>
<div class="col-md-8">
<div class="row">
<div class="col-md-12">
<label>Network Name</label><br>
      <span editable-text="networkToEdit.network_name"  e-style="width: 700px" e-name="title" onbeforesave="checkData($data, 'title')">{{ networkToEdit.network_name}}</span>
</div>
</div>
<br>


    <p>

<div class="row">
        <div class="col-md-12">
<label>Description</label><br>
      <span editable-textarea="networkToEdit.network_description"   e-style="width: 1200px" e-name="name"   e-rows="12" e-cols="100">{{ networkToEdit.network_description || 'empty' }}</span><br><br>
</div>
</div><!-- row -->

</div> 
<p>
<hr>
<font color='white'>can you see me?</font> 
<hr>
<div class="row">
<div  class="col-md-1"></div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse&hellip; <input type="file" accept=".png,.jpg,.jpeg" id="fileInput" ng-accept="'*.jpg,*.png'" ng-file-select="onFileSelect($files, networkToEdit.networkId)" ng-click="resetInputFile()">
                    </span>
                </span>
                <input type="text" id="inputFilename" class="form-control" readonly>
            </div>
            <span class="help-block">
                Select jpg or png file and thumbnail type.
            </span>
        </div>

  
<div class="col-md-4">
  <select ng-model="thumbnail_name" required class="form-control" ng-options="thumbnailType as thumbnailType.display_name for thumbnailType in thumbnailTypes"/>
	<br>
</div>
  
<div class="col-md-3">

                    <button type="button" class="btn btn-success" ng-disabled="thumbnail_name.display_name == '-- Choose Thumbnail Type --'" data-ng-click="addThumbnailToNetwork(thumbnail_name);resetInputFile()"">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add Thumbnail!</span>
                    </button>
</div>
</div>

<div class="row">
<div  class="col-md-1"></div>
<div class="col-md-10">
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
        <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Size</th>
        <th>Aspect Ratio</th>
        <th>Format</th>
        <th>Action</th>
        </tr>
             <tr data-ng-repeat="thumbnail in networkToEdit.network_logos" data-ng-class="{'processing': file.$processing()}"> 
                <td data-ng-switch data-on="!!thumbnail">  
			<img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="80" ng-hide="thumbnail.thumbnail_id == null  || thumbnail.thumbnail_url == null" >
			<img ng-src="/mobi-content-provider-console/rest/admin/v5/content/thumbnail?thumbnail_id={{thumbnail.thumbnail_id}}" ng-hide="thumbnail.thumbnail_id==null" width="80"   />
					<img ng-show="thumbnail.thumbnail_url" ng-src="{{thumbnail.thumbnail_url}}"  width="80" >	
					    </td>
                 <td>
                    <p class="name" data-ng-switch data-on="!!thumbnail">
                        <span data-ng-switch-default>{{thumbnail.thumbnail_name}}</span>         
                    </p>
                    <strong data-ng-show="thumbnail.error" class="error text-danger">{{thumbnail.error}}</strong>
                </td>
                <td>
                    <p class="size">{{thumbnail.size | formatFileSize}} </p> 
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                                <td>
                        <span>{{thumbnail.thumbnail_aspect_ratio}}</span>
                </td>
                <td>
                        <span>{{thumbnail.format}}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger destroy" data-ng-click="removeThumbnail(thumbnail)">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Remove</span>
                    </button>
                 </td>
             </tr>
        </table> 
</div>
<div  class="col-md-1"></div>
</div><!-- row -->
  
</div>
<hr>
<div class="row">

<div class="col-md-8">
 </div>
<div class="col-md-4">
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" >Save</button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
      </span>
</div>
</div>
        </div>

</form>   


</div><!-- modal-body -->
<div class="modal-footer">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div> <!-- modal-footer -->

