<form editable-form name="editableForm" onaftersave="validateAndPost()" oncancel="cancelForm()" shown=true>
 <div class="modal-header ">
            <h3 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>  {{assetToEdit.asset_name}} Metadata</h3>
</div><!-- modal-header -->
   
<div class="modal-body">

<div class="row">
<div class="col-md-4">
			<img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="180" height="145" ng-hide="primary_thumbnail_id"  ng-show="selectedFiles == null" >
			<img ng-src="/mobi-content-provider-console/rest/admin/v5/content/thumbnail?thumbnail_id={{primary_thumbnail_id}}" ng-hide="!primary_thumbnail_id" width="180" height="145" />
</div>
<div class="col-md-8">
<div class="row">
<div class="col-md-12">
<label>Title</label><br>
      <span editable-text="assetToEdit.asset_name"  e-style="width: 700px" e-name="title" onbeforesave="checkData($data, 'title')">{{ assetToEdit.assetName}}</span>
</div>
</div>
	<br>
		
<div class="row">
<div class="col-md-12">
<label>Alternate Asset ID</label><br>
      <span><small>{{ assetToEdit.alternate_asset_id  | alternate_asset_id_filter }}</small></span>
</div>
</div>
<br>
<div class="row">
<div class="col-md-12">
<label>Network/Studio</label><br>
    <!--  <span editable-select="assetToEdit.network" e-name="name" onbeforesave="checkData($data, 'network')" e-ng-options="assetToEdit.Name for network in networks | filter:{providerId: selectedContentProvider} | filter:{assetType: 'SERIES'}">{{ assetToEdit.network || 'empty' }}</span><br><br>-->
<!-- <span editable-text="assetToEdit.network" e-name="network" onbeforesave="checkData($data, 'network')">{{ assetToEdit.network}}</span><br><br> -->
<span>{{ assetToEdit.network}}</span><br><br>
</div>
</div>
<div class="row">
	<div class="col-md-4">
	<label>TV Series</label><br>
	      <span editable-select="assetToEdit.series_id" e-name="series_name" onbeforesave="checkData($data, 'seriesName')" e-ng-options="modalAsset.asset_id as modalAsset.asset_name for modalAsset in modalAssets | filter:{providerId: selectedContentProvider} | filter:{asset_type: 'series'}">{{ showTVSeries() }}</span><br><br>
	</div>
<!-- <div class="col-md-4">
<label>Season #</label><br>
      <span editable-text="assetToEdit.season" e-name="seasonNumber" onbeforesave="checkData($data, 'season')" >{{ showSeasonNumber() }}</span><br><br>
</div>
<div class="col-md-4">
<label>Episode #</label><br>
      <span editable-text="assetToEdit.episode" e-name="episodeNumber" onbeforesave="checkData($data, 'episode')" >{{ showEpisodeNumber() }}</span><br><br>
</div> -->
</div><!-- row -->

</div> <!-- right column>

</div><!-- top panel row-->

<div clas="row">
<div class="col-md-4">
</div>
<div class="col-md-8">
<label>Status: </label> <span > {{ assetToEdit.asset_state }}</span><br>
<br>
</div>
</div>

<div clas="row">
	<div class="col-md-4"> </div>
	<div class="col-md-8">
		<label>Audio Language</label><br>
		<span>{{assetToEdit.audio_lang}}</span>
	</div>
</div>
	
<div class="row" >
<div class="col-md-6">
</div>
<div class="col-md-6">
Your local timezone is: <b><i>{{ clientTimezone }}</i></b>
<br>
<br>
<p>
</div>
<div class="col-md-4">
</div>
<div class="col-md-4">
      <label> Start: </label>
  <a href="#" editable-bsdate="assetToEdit.start_of_availability" e-datepicker-popup="MM/dd/yyyy" onbeforesave="checkData($data, 'startDate')">
    {{ (assetToEdit.startOfAvailability | date:"MM/dd/yyyy") || 'Not set' }}
  </a><br>
  <a href="#" editable-bstime="assetToEdit.start_of_availability" e-show-meridian="true" e-minute-step="1" onbeforesave="checkData($data, 'startTime')">
   {{ (assetToEdit.startOfAvailability | date:"HH:mm") || 'Empty' }}
  </a> 
  </div>
<div class="col-md-4">
<label>Expires: </label>
  <a href="#" editable-bsdate="assetToEdit.expires" e-datepicker-popup="MM/dd/yyyy"  e-min-date="minDate" onbeforesave="checkData($data, 'expiresDate')">
    {{ (assetToEdit.expires | date:"MM/dd/yyyy") || 'not set' }}
  </a>
  <br>
    <a href="#" editable-bstime="assetToEdit.expires" e-show-meridian="true" e-minute-step="1" onbeforesave="checkData($data, 'expiresTime')">
   {{ (assetToEdit.expires | date:"HH:mm") || 'empty' }}
  </a> 
    </div>
    </div>

<tabset> 
    <tab heading="Basic">
    <p>

<div class="row">
<div class="col-md-8">
<label>Description</label><br>
      <span editable-textarea="assetToEdit.asset_description" e-name="name"   e-rows="12" e-cols="50">{{ assetToEdit.asset_description || 'empty' }}</span><br><br>
</div>
<div class="col-md-4">
<label>Categories</label><br>      
<!--<span editable-select ="assetToEdit.category" e-name="categoryDrop" e-ng-model="currentCategory" e-ng-change="updateGenres()" e-ng-options="c for c in categories">{{ showCategories() }}</span><br><br>-->
<span >{{ assetToEdit.category }}</span><br><br>

<label>Genres</label><br>
<div  style="height:150px;overflow: auto; overflow-x: none;" >    <span editable-checklist ="assetToEdit.genre_list" e-name="name" e-ng-options="g for g in genres">{{ showGenres() }}</span><br><br>
</div>
</div>
</div><!-- row -->
</tab>
    <tab heading="Advanced">

<div class="row">
<div class="col-md-4">
<label>Keywords</label><br>
 <div editable-textarea="assetToEdit.keywords" e-name="name" wrap="hard"   e-rows="8" e-cols="40" class="break-word" >{{ assetToEdit.keywords || 'empty' }}</div>
</div>
<div class="col-md-8">
<label>Extended Metadata</label><br>
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td>Attribute</td>
        <td colspan=2>Value</td>
      </tr>
      <tr ng-repeat="assetExtendedMetadataPair in assetToEdit.extended_metadata_list | filter:filterDeletedMetadata | filter:filterMetadata">
        <td>
          <!-- editable username (text with validation) -->
          <span editable-select="assetExtendedMetadataPair.master_asset_extended_metadata_cd" e-form="tableform" e-ng-options="m for m in extendedMetadata">
            {{assetExtendedMetadataPair['master_asset_extended_metadata_cd'] }}
          </span>
        </td>
        <td>
          <!-- editable status (select-local) -->
          <span editable-text="assetExtendedMetadataPair.asset_attribute_value" e-form="tableform">
            {{assetExtendedMetadataPair['asset_attribute_value'] }}
          </span>
</td>
<td><button type="button" ng-show="editableForm.$visible" ng-click="deleteMetadata(assetExtendedMetadataPair);" class="btn btn-danger pull-right">Del</button>
        </td>
      </tr>
    </table>
  <div class="btn-form" ng-show="editableForm.$visible">
      <button type="button" ng-disabled="editableForm.$waiting" ng-click="addNewMetadataRow()" class="btn btn-default btn-sm pull-right">add row</button>
    </div> 
</div>
</div> <!--row-->

</tab>

<tab heading="Thumbnails">
<p>

<div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse&hellip; <input type="file" accept=".png,.jpg,.jpeg" id="fileInput" ng-accept="'*.jpg,*.png'" ng-file-select="onFileSelect($files, assetToEdit.assetId)" ng-click="resetInputFile()">
                    </span>
                </span>
                <input type="text" id="inputFilename" class="form-control" readonly>
            </div>
            <span class="help-block">
                Select jpg or png file and thumbnail type.
            </span>
        </div>

  
<div class="col-md-4">
  <select ng-model="thumbnail_name" required class="form-control" ng-options="thumbnailType as thumbnailType.display_name for thumbnailType in thumbnailTypes"/>
	<br>
</div>
  
<div class="col-md-4">

                    <button type="button" class="btn btn-success" ng-disabled="thumbnail_name.display_name == '-- Choose Thumbnail Type --'" data-ng-click="addThumbnailToAsset(thumbnail_name);resetInputFile()"">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add Thumbnail!</span>
                    </button>
</div>
</div>

<div class="row">
<div class="col-md-12">
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
        <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Size</th>
        <th>Aspect Ratio</th>
        <th>Format</th>
        <th>Action</th>
        </tr>
             <tr data-ng-repeat="thumbnail in assetToEdit.thumbnails" data-ng-class="{'processing': file.$processing()}"> 
                <td data-ng-switch data-on="!!thumbnail">  
			<img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="80" ng-hide="thumbnail.thumbnail_id == null  || thumbnail.thumbnail_url == null" >
			<img ng-src="/mobi-content-provider-console/rest/admin/v5/content/thumbnail?thumbnail_id={{thumbnail.thumbnail_id}}" ng-hide="thumbnail.thumbnail_id==null" width="80"   />
					<img ng-show="thumbnail.thumbnail_url" ng-src="{{thumbnail.thumbnail_url}}"  width="80" >	
					    </td>
                 <td>
                    <p class="name" data-ng-switch data-on="!!thumbnail">
                        <span data-ng-switch-default>{{thumbnail.thumbnail_name}}</span>         
                    </p>
                    <strong data-ng-show="thumbnail.error" class="error text-danger">{{thumbnail.error}}</strong>
                </td>
                <td>
                    <p class="size">{{thumbnail.size | formatFileSize}} </p> 
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                                <td>
                        <span>{{thumbnail.thumbnail_aspect_ratio}}</span>
                </td>
                <td>
                        <span>{{thumbnail.format}}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger destroy" data-ng-click="removeThumbnail(thumbnail)">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Remove</span>
                    </button>
                 </td>
             </tr>
        </table> 
</div>
</div><!-- row -->
</tab>
  </tabset>
  
</div>
</div> <!--tabset row-->
<hr>
<div class="row">

<div class="col-md-8">
 </div>
<div class="col-md-4">
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" >Save</button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
      </span>
</div>
</div>
        </div>

</form>   


</div><!-- modal-body -->
<div class="modal-footer">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div> <!-- modal-footer -->

