
<div>
    <alert ng-repeat="alert in frontPageAlerts" type="alert.type" close="closeAlert($index)">  {{alert.mobi}}   <br>
        {{ alert.msg }}
    </alert>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <label>Content Provider:</label>
        <!-- Single button -->
        <div class="btn-group" dropdown is-open="status1.isopen">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" ng-disabled="disabled">
                {{selectedContentProviderName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="contentProvider in contentProviders"><a href="" ng-click="setSelectedContentProvider(contentProvider.providerId, contentProvider.providerName)">{{contentProvider.providerName}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-5">
 <div class="input-append">
            <input type="text" class="span6 search-query" ng-model="searchString" placeholder="Enter asset name ...">
            <button type="submit" class="btn btn-primary btn-large" ng-click="searchEpisodes(searchString);"><i class="icon-search"></i></button>
        </div>
    </div>

    <div class="col-md-3" style="text-align: right">
        <label>State:</label> <div class="btn-group" dropdown is-open="status2.isopen" style="text-align: left">
        <button type="button" class="btn btn-success btn-sm dropdown-toggle" ng-disabled="disabled"> {{selectedAssetStateName}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="assetState in assetStates"><a href="" ng-click="setSelectedState(assetState.display_name, assetState.name)">{{assetState.display_name}}</a></li>
        </ul>
    </div>
    </div>
</div>
<br>
<div class="row">
    <div class="list-group col-md-4">
        <a href="" class="list-group-item active" ng-click="resetSelectedSeries()">
            <span class="glyphicon glyphicon-film"></span> Series  (Click to show all) <span class="badge">{{seriesTotal}}</span>
        </a>
        <!--         <div style="height: 300px; overflow: auto;"> -->
        <div>
            <table id="mytable" class="table table-hover">
                <tbody>
                <tr ng-repeat="asset in seriesAssets" ng:class="getClass($index)">
                    <td ng-hide="!asset.thumbnails[0].thumbnail_id"><a href=""	ng-click="setSelectedSeries(asset.asset_id, asset.asset_name);toggleSelect($index)"><img ng-src="rest/admin/v5/content/thumbnail?thumbnail_id={{(asset.thumbnails | filter:{thumbnail_name:'primary'})[0].thumbnail_id}}" width="80" height="45" /> {{asset.asset_name}}</a></td>
                    <td ng-hide="(asset.thumbnails | filter:{thumbnail_name:'primary'})[0].thumbnail_id"><a href=""	ng-click="setSelectedSeries(asset.asset_id, asset.asset_name);toggleSelect($index)"><img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="80" height="45" /> {{asset.asset_name}}</a></td>
                    <td><a ng-click="editSeries(asset)"><span class="glyphicon glyphicon-pencil"></span> </a></td>
                    <td><a ng-click="expireAsset(asset)" ng-hide="compareDate(asset.expires)"><span	class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                </tbody>
            </table>
            <center>
                <!-- ui bootstrap pagination -->
                <center>
                    <div class="control-group">
                        <label class="control-label" for="seriesItemsPerPage">Results per page</label>
                        <div class="controls">
                            <select ng-options="pageSize.id for pageSize in pageSizes" ng-model="seriesItemsPerPage.selected" ng-init="seriesItemsPerPage.selected" ng-change="getPaginatedSeries()"/>
                        </div>
                    </div>
                </center>
                <pagination ng-hide="seriesTotal == null || seriesTotal == 0 ;" boundary-links="true" total-items="seriesTotal" max-size="maxPageSize" page="currentSeriesPage.num" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page=seriesItemsPerPage.selected.id  rotate="false"
                on-select-page="selectSeriesPage(page)"></pagination>
            </center>
        </div>
    </div>

    <div class="col-md-8 col-centered">
        <a href="" class="list-group-item active">
            <span class="glyphicon glyphicon-film"></span> {{selectedSeriesName}} Episodes <span ng-show="(episodeAssets).length == episodeItemsPerPage.selected.id" class="badge">  {{episodeTotal }}</span> <span ng-show="(episodeAssets).length != episodeItemsPerPage.selected.id" class="badge">  {{(episodeAssets | filter:{series_id: selectedSeries} | filter:searchText).length }}</span>
        </a>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th></th>
                <th><a href="" ng-click="sortEpisodes('name',$event)">Title<span class="{{Header[0]}}"></span></a></th>
                <th><a href="" ng-click="sortEpisodes('last_update_time')">Last Update Time<span class="{{Header[1]}}"></span></a></th>
                <th><a href="" >State</a></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="asset in episodeAssets | filter:{provider_id: selectedContentProvider} | filter:{asset_state:selectedAssetState} ">
                <td ng-hide="!(asset.thumbnails | filter:{thumbnail_name:'primary'})[0].thumbnail_id" class="vert-align"><img ng-src="/mobi-content-provider-console/rest/admin/v5/content/thumbnail?thumbnail_id={{(asset.thumbnails | filter:{thumbnail_name:'primary'})[0].thumbnail_id}}" width="80" height="45" />
                <td ng-hide="(asset.thumbnails | filter:{thumbnail_name:'primary'})[0].thumbnail_id" class="vert-align"><img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="80" height="45" />
                <td style="word-wrap:break-word;"> {{asset.asset_name}}<br><i><font size="1">{{asset.alternate_asset_id | alternate_asset_id_filter}}</font></i></td>
                <td class="vert-align">{{asset.last_update_time | date:'yyyy-MM-dd'}}<br>{{asset.last_update_time | date:'hh:mm:ssa'}}</td>
                <td class="vert-align">{{asset.asset_state}}<br><small>{{ asset.asset_artifact_groups[0].duration | HHMMSS}}</small></td>
                <td class="vert-align"> <a ng-click="editEpisode(asset)"><span class="glyphicon glyphicon-pencil"></span> </a></td>
                <td class="vert-align"> <a ng-click="expireAsset(asset)" ng-hide="compareEpisodeDate(asset.expires)"> <span class="glyphicon glyphicon-remove"></span> </a></td>
            </tr>
            </tbody>
        </table>
        <center>
            <!-- ui bootstrap pagination -->	
            <div class="control-group">
                <label class="control-label" for="episodeItemsPerPage">Results per page</label>
                <div class="controls">
                    <select ng-options="pageSize.id for pageSize in pageSizes" ng-model="episodeItemsPerPage.selected" ng-init="episodeItemsPerPage.selected" ng-change="getPaginatedEpisodes()"/>
                </div>
            </div>
            <pagination ng-hide="episodeTotal == null || episodeTotal == 0 ;" boundary-links="true" total-items="episodeTotal" max-size="maxPageSize" page="currentEpisodePage.num" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page=episodeItemsPerPage.selected.id rotate="false" on-select-page="selectEpisodePage(page)"></pagination>
        </center>
    </div>
</div>