<div ng-hide="!isNetworkAdmin()">
    <tabset>
        <tab heading="Assets">
            <div ng-include="'resources/app/partials/assets.html'"></div>
        </tab>
        <tab  heading="Networks">
            <div ng-include="'resources/app/partials/networks.html'"></div>
        </tab>
    </tabset>
</div>

<div ng-hide="isNetworkAdmin()">
    <div ng-include="'resources/app/partials/assets.html'"></div>
</div>