<div class="row">
    	<alert ng-repeat="alert in frontPageAlerts" type="alert.type" close="closeAlert($index)">  {{alert.mobi}}   <br>
        {{ alert.msg }}
</alert>
    </div>
      <br/>
    	  <div class="row">
        <input ng-model="searchText" placeholder="Search..."><p>
        </div>
    	  <div class="row">
    	  
		  <div class="list-group col-md-12">
		  
      <a href="" class="list-group-item active">
        <span class="glyphicon glyphicon-film"></span> Networks <span class="badge">{{(networks).length}}</span>
    </a>
			<div  id="networkScrollDiv" infinite-scroll="myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-container="'#networkScrollDiv'"  style="height: 300px; overflow: auto;">
				<table id="mytable" class="table table-hover">
					<tbody>
   <tr ng-repeat="network in networks | filter:searchText " ng-class="{active : isSelected(network)}"  >
    <td ng-hide="!network.network_logos[0].thumbnail_id"><a href="" ng-click="setSelectedNetwork(network.network_id)">
        <img ng-src="rest/admin/v5/content/thumbnail?thumbnail_id={{(network.network_logos | filter:{thumbnail_name:'primary'})[0].thumbnail_id}}" width="80" height="45" /> {{network.network_name}}
    </a></td>    
    <td ng-hide="network.network_logos[0].thumbnail_id"><a href="" ng-click="setSelectedNetwork(network.network_id)">
        <img ng-src="/mobi-content-provider-console/resources/app/images/image_not_found.png" width="80" height="45" /> {{network.network_name}}
    </a></td>
					        <td><a ng-click="editNetwork(network)"><span class="glyphicon glyphicon-pencil"></span> </a></td>
							<td><a ng-click="expireNetwork(network)" ng-hide="compareDate(network.expires)"><span	class="glyphicon glyphicon-remove"></span></a></td>
						</tr>
					</tbody>
				</table>
				</div>
    <hr>
