<style type="text/css">

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
.editable-bstime .editable-input i.icon-chevron-up:before {
  content: '\e113';
}
.editable-bstime .editable-input i.icon-chevron-down:before {
  content: '\e114';
}
.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.btn-file {
		    position: relative;
		    overflow: hidden;
		}
		.btn-file input[type=file] {
		    position: absolute;
		    top: 0;
		    right: 0;
		    min-width: 100%;
		    min-height: 100%;
		    font-size: 999px;
		    text-align: right;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    background: red;
		    cursor: inherit;
		    display: block;
		}
		input[readonly] {
			background-color: white !important;
			cursor: text !important;
		}
		
		.app-modal-window .modal-dialog {
  width: 900px;
}

.tabbable {
    position: relative;
    padding: 20px 20px; 
}

  .floatrighspan { display: inline-block; *display: inline; }     

.selected td {
  background-color: red;
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px  #DDD;
	width: 180px;
	height: 145px; 
	text-align: center;
}

.drop-box.dragover {
	border: 5px dashed #000;
}

  .modal-header {
background-color: #333333;
color: white
}

.break-word {
  word-wrap: break-word;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
    align: center;
}

.editable-checklist label {
  display: block;
}
  a[ ng-click ] {
            cursor: pointer ;
            text-decoration: underline ;
        }
 
    </style>
